.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #ffff00 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.footer {
  color: yellow;
  display: flex;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  width: 100%;
  box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.tag {
  color: #add8e6;
  text-decoration: none;
  white-space: pre;
}
